{% extends "layout.html" %} <!-- extends the code written in the layout.html-->
    {% block content %} <!-- content in here will appear in the content block-->
            {% for post in posts.items %} <!-- code written in { % will be read as actual code-->
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}"> {{ post.author.username }} <!-- attributes are entered this way--> </a>
                        <small class="text-muted"> {{ post.date_posted.strftime('%Y-%m-%d') }} </small>
                    </div>
                    <h2>
                        <a class="article-title" href="{{ url_for('posts.post', post_id = post.id) }}">{{ post.title }}</a>
                    </h2>
                    <p class="article-content">
                        {{ post.content }}
                    </p>
                </div>
            </article>
            {% endfor %}    <!-- end of the for loop-->
            {% for page in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page %}
                    {% if posts.page == page %}
                        <a class="btn btn-info mb-4" href="{{url_for('main.home', page=page)}}"> {{ page }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{url_for('main.home', page=page)}}"> {{ page }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
    {% endblock content %} <!-- end of the content block-->

    