{% extends "layout.html" %} <!-- extends the code written in the layout.html-->
    {% block content %} <!-- content in here will appear in the content block-->
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}"> {{ post.author.username }} <!-- attributes are entered this way--> </a>
                    <small class="text-muted"> {{ post.date_posted.strftime('%Y-%m-%d') }} </small>
                    {% if post.author == current_user %}
                        <div>
                            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('updatePost', post_id=post.id) }}"> Update </a>
                            <form action="{{ url_for('deletePost', post_id = post.id) }}" method="POST"><input type="submit" name="delete" class="btn-danger btn-sm m-1 btn" value="Delete"></form>
                        </div>
                    {% endif %}
                </div>
                <h2 class="article-title"> {{ post.title }} </h2>
                <p class="article-content">
                    {{ post.content }}
                </p>
            </div>
        </article>
    {% endblock content %} <!-- end of the content block-->

